.layout {
  display: flex;
}

.content-wrapper {
  padding: 1rem 0;
  overflow: hidden;
  width: 100%;
}

.wrapper {
  height: 500px;
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
}
